body{
  margin:0;
  background:#020617;
  color:white;
  font-family:sans-serif;
  text-align:center;
}
#top{
  padding:6px;
}
canvas{
  background:#0f172a;
  display:block;
  margin:auto;
}
#controls{
  position:fixed;
  bottom:10px;
  left:10px;
}
#controls button{
  width:50px;
  height:50px;
  margin:2px;
}
#hotbar{
  display:flex;
  justify-content:center;
  gap:6px;
  margin-bottom:6px;
}
.slot{
  width:32px;
  height:32px;
  border:2px solid #555;
}
.slot.active{
  border-color:yellow;
}
